.container{
    border: 1px solid black;
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
}

.hobbies{
    flex-direction: column;
    gap: 0;
}

li{
    list-style: none;
}